.DS_Store
.vscode/
*.aux
*.log
*.idx
*.ind
*.ilg
*.thm
*.toc
*.blg
*.bbl
*.bcf
*.out
*.fls
*.fdb_latexmk
*.run.xml
*.synctex.gz
*.synctex.gz(busy)
*.xdv
*~
*.lof
*.lot
*.md5
*.auxlock
/*.pdf
_minted-ics2021-ps/
